<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
        <!-- Bootstrap core CSS -->
        <link href="{%static 'css/bootstrap.min.css'%}" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="{%static 'css/mdb.min.css'%}" rel="stylesheet">
        <!-- Your custom styles (optional) -->
        <link href="{%static 'css/style.min.css'%}" rel="stylesheet">
        <style type="text/css">
            html,
            body,
            header {
                height: 60vh;
            }

            @media (max-width: 740px) {
                html,
                body,
                header {
                    height: 100vh;
                }
            }

            @media (min-width: 800px) and (max-width: 850px) {
                html,
                body,
                header {
                    height: 100vh;
                }
            }
         </style>
        <title>User Info</title>
    </head>
    <body>
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{message.tags}} mt-5 pt-4" role="alert">
            {{message}}
          </div>
        {% endfor %}
      {% endif %}
      <!-- Navbar -->
      <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
        <div class="container">
          <a href="/home" title="home"><strong>User Input</strong></a>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link waves-effect" href="/users">View Users</a>
            </li>
          </ul>
        </div>
      </nav>
      {% block content %}{% endblock %}
    </body>
</html>
