{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
  <br/>
  <br/>
  <br/>
  <div class="container">
    <h1>User Info</h1>
    <h2>There are {{ numUsers }} users in the db.</h2>
  </div>
  <br/>
  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
    {% endfor %}
  {% endif %}
  <main>
    <div class="container">
      <p><i>* = Required</i></p>
      <form class="login" method="POST" action="/home">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit">
          {% trans "Submit" %}
        </button>
      </form>
    </div>
  </main>
{% endblock %}
