{% extends "base.html" %}
{% block content %}
<br><br><br>
<div class="container">
    {% for user in users %}
        <h3>{{user.first}} {{user.middle}} {{user.last}}</h3>
        <h4>{{user.address1}}</h4>
        {% if user.address2 %}
            <h4>{{user.address2}}</h4>
        {% endif %}
        {% if user.phone %}
            <h4>{{user.phone}}</h4>
        {% endif %}
        <br/>
    {% endfor %}
</div>
{% endblock content %}
